---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const page_title = "Aboutページです。";
const description = "AstroというJSフレームワークの勉強しています。";
const type = "artcle";
---

<html lang='ja'>
  <head>
    <BaseHead title={page_title} description={description} type={type} />
  </head>
  <body>
    <Header />
    <main>
      <section class='ttl_area'>
        <h1>{page_title}</h1>
        <p>ここはaboutページになります。</p>
      </section>
    </main>
    <Footer />
  </body>
</html>

