---
import "../styles/style.scss";
import BaseHead from "../components/BaseHead.astro";
const title = "about";
---

<html lang='ja'>
  <BaseHead title={title} />
  <body>
    <h1>{title}</h1>
    <h2>これはAboutページです。</h2>
    <p>おはよう</p>
    <p>こんにちは</p>
    <p>こんばんわ</p>
  </body>
</html>

