---
// インポート
import BaseHead from '../components/BaseHead.astro'
import TopLayout from '../layouts/TopLayout.astro'
import TopMv from '../components/top/TopMv.astro'
import TopNews from '../components/top/TopNews.astro'

// ページ設定
const page_title = 'Astro勉強中'
const description = 'AstroというJSフレームワークの勉強しています。'
const type = 'website'
---

<html lang="ja">
  <BaseHead title={page_title} description={description} type={type} />

  <TopLayout>
    <TopMv />
    <TopNews />
    <section class="about">
      <h2>企業概要</h2>
    </section>
  </TopLayout>
</html>
