---
// hrefとclassの中で、propsへ残りをパッケージ化しています
const { href, class: className, ...props } = Astro.props
// urlからpathnameを取得
const { pathname } = Astro.url
// hrefがpathnameまたは末尾/を除いたpathnameに一致すればisActiveをtrueにしています
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<li>
  <a href={href} class:list={[className, { isActive: isActive }]} {...props}>
    <slot />
  </a>
</li>

<style lang="scss">
  li {
    a {
      font-size: 16px;
      &.isActive {
        color: var(--color_main);
        font-weight: bold;
      }
    }
  }
</style>
