---
const { href, class: className, ...props } = Astro.props
const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<li>
  <a href={href} class:list={[className, { isActive: isActive }]} {...props}>
    <slot />
  </a>
</li>

<style lang="scss">
  @use '../styles/variable' as *;
  @use '../styles/mixin' as *;
  li {
    a {
      font-size: 16px;
      &.isActive {
        color: $color_main;
        font-weight: bold;
      }
    }
  }
</style>
