---
---

<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="https://source.unsplash.com/random/1920x1080/?spring" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="https://source.unsplash.com/random/1920x1080/?summer" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="https://source.unsplash.com/random/1920x1080/?autumn" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="https://source.unsplash.com/random/1920x1080/?winter" alt="" />
    </div>
  </div>
</div>

<style lang="scss">
  .swiper-container {
    width: 100%;
    height: 100%;

    .swiper-wrapper {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
</style>
<script>
  // スライド設定
  import Swiper, { Autoplay } from 'swiper'
  Swiper.use([Autoplay])

  import 'swiper/swiper-bundle.css'

  const mySwiper = new Swiper('.swiper-container', {
    loop: true,
    autoplay: {
      delay: 3000,
      disableOnInteraction: true
    },
    speed: 1000
  })
</script>
