---
---

<section class="news">
  <h2>ニュース一覧</h2>
  <ul>
    <li>
      <a href="/"
        >ニューステキストニューステキストニューステキストニューステキストニューステキスト</a
      >
    </li>
    <li>
      <a href="/">ニューステキストニューステキストニューステキスト</a>
    </li>
    <li>
      <a href="/"
        >ニューステキストニューステキストニューステキストニューステキストニューステキストニューステキストニューステキストニューステキストニューステキストニューステキスト</a
      >
    </li>
  </ul>
</section>
