---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Ga2 from '../components/Ga2.astro'
---

<body>
  <Ga2 />
  <div class="wrapper">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </div>
</body>

<style lang="scss">
  main {
    margin-top: 60px;
  }
</style>
